* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: "bold";
  src: url(src/assets/font/ElectronicArtsText-Bold.ttf);
}

@font-face {
  font-family: "ligth";
  src: url(src/assets/font/ElectronicArtsText-Light.ttf);
}

@font-face {
  font-family: "regular";
  src: url(src/assets/font/ElectronicArtsText-Regular.ttf);
}

@font-face {
  font-family: "disreg";
  src: url(src/assets/font/Displayreg.ttf);
}


.navMenu {
  position: sticky;
  height: 56px;
  padding-left: 17px;
  background-color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  z-index: 4;


}

.title {
  margin-left: 48px;
  margin-right: 36px;
  color: #FF4747;
  font-family: regular;
  font-size: 22px;
  cursor: pointer;
}

.dropbtn {
  color: black;
  background-color: white;
  padding-bottom: 2px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 18;
}

.btn-title {
  position: relative;
}

.arrow {
  position: relative;
  margin-left: 5px;
  width: 15px;
}

.btn-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}

.btn-flex:hover img {
  transform: rotateX(180deg);
  transition: .5s;
  cursor: pointer;
}


.dropdown {
  position: relative;
}


.dropdown-content {
  display: none;
  position: absolute;
  z-index: 2;
  height: 310px;
  width: 414px;
  background: rgb(255, 255, 255, 0.98);
  border-radius: 5px;
  top: 45px;
  z-index: 18;
}


.otherContent {
  display: none;
  position: absolute;
  z-index: 2;
  padding: 30px 50px 10px 30px;
  background: rgb(255, 255, 255, 0.95);
  border-radius: 5px;
  top: 45px;
}

.dropdown:hover .dropdown-content {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  animation-name: scale;
  animation-duration: .3s;
  z-index: 18;
}

.dropdown:hover .otherContent {
  display: block;
  animation-name: scale;
  animation-duration: .3s;
  animation-direction: normal;
}

.dropdown:not(:hover) .dropdown-content {
  animation-name: unscale;
  animation-duration: .5s;
}

ul {
  list-style: none;
}

.dropdown:hover .dropbtn {
  color: #FF4747;
}



.h1style {
  font-size: 13px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
  font-family: regular;
  margin-bottom: 7px;
  font-size: 18px;
}


.btn-title {
  color: black;
  font-family: regular;
}

.pstyle {
  font-family: regular;
  text-align: left;
  white-space: nowrap;
  margin-bottom: 10px;
  opacity: 90%;
}

.pflex {
  display: flex;
  flex-direction: column;
}

.pflexOther {
  display: flex;
  flex-direction: column;
  flex-direction: flex-start;
}

.liflex {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.spaceUL {
  margin-right: 30px;
}





@keyframes scale {
  0% {
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: 100% 0%;
    transform-origin: 100% 0%;
    opacity: 1;
  }

  100% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    -webkit-transform-origin: 100% 0%;
    transform-origin: 100% 0%;
    opacity: 1;
  }






}

@keyframes unscale {
  100% {
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: 100% 0%;
    transform-origin: 100% 0%;
    opacity: 1;
  }

  0% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    -webkit-transform-origin: 100% 0%;
    transform-origin: 100% 0%;
    opacity: 1;
  }
}

.drop-down,
.otherContent {
  z-index: 18;
}


.sidebar {
  position: relative;
}



.sidebarinterno {
  display: none;
  position: fixed;
  top: 40px;
  left: 0;
  width: 416px;
  height: 100vh;
  background-color: #FFFFFF;
  z-index: 21;
  overflow: scroll;

}

.textFlexComponent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 40px 30px;
}

.textFlexComponent h1 {
  font-size: 16px;
  font-family: disreg;
  color: #B3B3B3;
  cursor: pointer;
}

.textFlexComponent h1:nth-child(2) {
  color: black;
  font-family: disreg;
}

.textFlexComponent h1:hover {
  color: #FF4747;

}


.imgFlexInterno {
  display: flex;
  justify-content: center;
}


#imgOneInside {
  width: 100%;
  max-width: 352px;
  object-fit: contain;
  position: relative;
  cursor: pointer;
}

#imgTwoInside {
  position: absolute;
  margin: auto;
  align-self: center;
  cursor: pointer;
}

#imgTwoInside:hover {
  transform: scale(1.1);
  transition: 0.5s;
}

#imgSquareint {
  width: 160px;
  height: 160px;
  position: relative;
  cursor: pointer;
}

.imgSquareInterno {
  overflow: scroll;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  margin-top: 30px;
  margin-bottom: 150px;
}

.flexinternocoppia {
  display: flex;
  justify-content: center;
}


#imgSquareAbsolute {
  position: absolute;
  max-width: 160px;
  max-height: 160px;
  align-self: center;
}


.visibleClass {
  display: initial;
}


.toggleclass:hover {
  cursor: pointer;
  transform: scale(1.3);
  transition: .3s ease-in-out;
  filter: invert(45%) sepia(8%) saturate(5162%) hue-rotate(314deg) brightness(102%) contrast(131%);
}




@-webkit-keyframes slide-out-left {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }

  100% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0;
  }
}

@keyframes slide-out-left {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }

  100% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0;
  }
}

.slide-out-left {
  -webkit-animation: slide-out-left 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
  animation: slide-out-left 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}






@-webkit-keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}


.slide-in-left {
  -webkit-animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;

}




.blackdivinsert {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: black;
  opacity: 80%;
  transition: .4s ease;
  z-index: 19;
}

.blackdivinsertON {
  display: initial;
}

.navBlock {
  position: fixed;
  width: 100%;
  top: 0;
  transition: .9s;
}
