<div class="wrap1">
  <div class="colsx">
    <div class="one">
      <a>Rapporto sull'impatto</a>
      <a>Dirigenza</a>
      <a>Sicurezza e privacy</a>
      <a>Attività politiche</a>
      <a>Segnala un problema</a>

    </div>
    <div class="two">
      <a>Dichiarazione globale sul rispetto dei diritti umani</a>
    </div>

  </div>


  <div class="coldx">
    <div>
      <p><strong>Partecipa alla conversazione</strong></p>
    </div>
    <div class="icons">
      <img src="assets/icons/fb.png" alt="" class="ico1">
      <img src="assets/icons/tw.png" alt="" class="ico2">
      <img src="assets/icons/yt.png" alt="" class="ico3">
      <img src="assets/icons/ig.png" alt="" class="ico4">
      <img src="assets/icons/twi.png" alt="" class="ico5">


    </div>
  </div>
</div>


<div class="wrap2">
  <div class="col2">
    <div class="firstrow">
      <img src="assets/icons/october-ea-ring.png" alt="" class="logo">
      <a class="a1 a2">Libreria dei giochi</a>
      <a class="a1">Registrati</a>
      <a class="a1">Riscatta codice</a>
      <a class="a1">Origin</a>
      <app-footer-button></app-footer-button>
    </div>
    <div class="secondrow">
      <a class="a1">Informazioni</a>
      <a class="a1">Accessibilità</a>
      <a class="a1">Aiuto</a>
    </div>
    <div class="eainfo">
      <div class="first-row-info">
        <a class="a-info">Note legali e privacy</a>
        <a class="a-info">Accordo con l'utente</a>
      </div>
      <div class="second-row-info">
        <a class="a-info">Politica sulla privacy e sui cookie (i tuoi diritti sulla privacy)
        </a>
        <a class="a-info">Aggiornamenti sui servizi online
        </a>
      </div>
      <div class="third-row-info">
        <a class="a-info">Termini di servizio di YouTube</a>
        <a class="a-info">Norme sulla privacy di Google
        </a>
        <a class="a-info">Cookie Preferenze
        </a>
        <img src="assets/icons/trust.png" alt="" class="trust">
      </div>
      <div class="copy">
        <a class="copylink"> © 2022 Electronic Arts Inc.</a>
      </div>
    </div>


  </div>
</div>
