<div class="all_wrap">


  <div class="wrap1">
    <div class="colsx">
      <div class="one">
        <a>Rapporto sull'impatto</a>
        <a>Dirigenza</a>
        <a>Sicurezza e privacy</a>
        <a>Attività politiche</a>
        <a>Segnala un problema</a>

      </div>
      <div class="two">
        <!-- <a>Dichiarazione globale sul rispetto dei diritti umani</a> -->
      </div>

    </div>


    <div class="coldx">
      <div>
        <p><strong>Partecipa alla conversazione</strong></p>
      </div>
      <div class="icons">
        <img src="assets/icons/fb.png" alt="" class="ico1">
        <img src="assets/icons/tw.png" alt="" class="ico2">
        <img src="assets/icons/yt.png" alt="" class="ico3">
        <img src="assets/icons/ig.png" alt="" class="ico4">
        <img src="assets/icons/twi.png" alt="" class="ico5">


      </div>
    </div>
  </div>


  <div class="wrap2">
    <div class="col2">
      <div class="firstrow">
        <img src="assets/icons/october-ea-ring.png" alt="" class="logo">
        <a href="#" class=" a2 x3">Libreria dei giochi</a>
        <a href="#" class=" x3 ">Registrati</a>
        <a href="#" class=" x3 ">Riscatta codice</a>
        <a href="#" class=" x3">Origin</a>
        <app-footer-button></app-footer-button>
      </div>
      <div class="secondrow">
        <a href="#" class=" x3">Informazioni</a>
        <a href="#" class=" x3">Accessibilità</a>
        <a href="#" class="x3">Aiuto</a>
      </div>
      <div class="eainfo">
        <div class="first-row-info">
          <a href="#" class="a-info x3 ">Note legali e privacy</a>
          <a href="#" class="a-info x3 ">Accordo con l'utente</a>
        </div>
        <div class="second-row-info">
          <a href="#" class="a-info x3">Politica sulla privacy e sui cookie (i tuoi diritti sulla privacy)
          </a>
          <a href="#" class="a-info x3">Aggiornamenti sui servizi online
          </a>
        </div>
        <div class="third-row-info">
          <a href="#" class="a-info x3">Termini di servizio di YouTube</a>
          <a href="#" class="a-info x3">Norme sulla privacy di Google
          </a>
          <a href="#" class="a-info x3">Cookie Preferenze
          </a>
          <img src="assets/icons/trust.png" alt="" class="trust">
        </div>
        <div class="copy">
          <a href="#" class="copylink"> © 2022 Electronic Arts Inc.</a>
        </div>
      </div>





    </div>
  </div>




  <!--RESPONSIVE FOOTER-->
  <div class="wrap-resp">
    <div class="first">

      <a class="first-link">Lavora con noi</a>
      <a class="first-link">Dirigenza</a>
      <a class="second-link">Rapporto sull'impatto</a>
      <a class="second-link a2">Attività politiche</a>
      <a class="third-link">Segnala un problema</a>
      <a class="third-link  a3">Dichiarazione globale sul <br>rispetto dei diritti umani</a>
      <a class="fourth-link">Sicurezza e privacy</a>


    </div>
  </div>

</div>
