<div>


    
    <div class="y" *ngIf="isOpen"  >
        <div>
        <p>Austria</p>
        <p>Belgio</p>
        <p>Bulgaria</p>
        <p>Croazia</p>
        <p>Cipro</p>
        <p>Repubblica Ceca</p>
        <p>Danimarca</p>
        <p>Estonia</p>
        <p>Finlandia</p>
        <p>Francia</p>
        <p>Germania</p>
        <p>Grecia</p>
    </div>
<div>
        <p>Ungheria</p>
        <p>Islanda</p>
        <p>Irlanda</p>
        <p>Italia</p>
        <p>Lettonia</p>
        <p>Liechtenstein</p>
        <p>Lituania</p>
        <p>Lussemburgo</p>
        <p>Malta</p>
        <p>Paesi Bassi</p>
    </div>
    <div>
        <p>Norvegia</p>
        <p>Polonia</p>
        <p>Portogallo</p>
        <p>Romania</p>
        <p>Slovenia</p>
        <p>Spagna</p>
        <p>Svezia</p>
        <p>Svizzera</p>
        
    </div>
    </div>
   <div class="x w" (click)="btn1()" [ngClass]="style">
       <p class="p1">Prezzi regionali</p>
       <p class="p2">Italia</p>
    </div>
   
   
</div>


