<div class="container">
    <div *ngIf="isOpen" class="countryList">
    <div *ngFor="let city of country" class="dynamic">
        
        <a href="#" (click)="select(city)" class="a" >{{city.name}}</a>
        </div>
    </div>
    <button (click)="open()" class="btn">
    <p class="x">Prezzi regionali</p>
    <p *ngIf="selectedCountry" class="selectedCountry1">{{selectedCountry.name}}</p>
   <div><p *ngIf="!selectedCountry" class="selectedCountry">Italia </p> <img *ngIf="!isOpen" src="assets/icons/arrow2.jpg" alt="" class="ico">
    <img *ngIf="isOpen" src="assets/icons/arrow1.jpg" alt="" class="ico">
    </div>
    </button>
</div>