* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

@font-face {
  font-family: "bold";
  src: url(src/assets/font/ElectronicArtsText-Bold.ttf);
}

@font-face {
  font-family: "ligth";
  src: url(src/assets/font/ElectronicArtsText-Light.ttf);
}

@font-face {
  font-family: "regular";
  src: url(src/assets/font/ElectronicArtsText-Regular.ttf);
}

@font-face {
  font-family: "disreg";
  src: url(src/assets/font/Displayreg.ttf);
}

.blockCards {
  display: flex;
  justify-content: center;
  background-color: #F3F3F3;
}


.imgCards {
  width: 100%;
  height: 100%;
  object-fit: fill;
  background: red;
  position: relative;
  -webkit-filter: blur(0.2px) brightness(0.8);
  -moz-filter: blur(0.2px) brightness(0.8);
  -ms-filter: blur(0.2px) brightness(0.8);
  -o-filter: blur(0.2px) brightness(0.8);
  filter: blur(0.2px) brightness(0.8);

}

.cardContainer {
  height: 367px;
  box-shadow: 0px 5px 8px -1px rgba(0, 0, 0, 0.62);
  background: white;
  margin-left: 16px;
  margin-bottom: 16px;
  width: 367px;
  position: relative;
}

.textFlex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 24px;
}

/* .cardContainer:hover {
  transform: translate3d(0, -10px, 0);
  transition-duration: 0.4s;
  animation-duration: 1s;
  animation-timing-function: ease;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: none;
  animation-play-state: running;
} */

.textEa {
  color: rgb(255, 71, 71);
  cursor: pointer;
  display: block;
  font-family: ligth;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: normal;
  line-height: 18.9px;
  margin-left: 7px;
  margin-right: 7px;
  text-transform: none;

}

.textDate {
  font-family: light;
  color: black;
  font-size: 16px;
  align-items: center;
  color: rgb(22, 22, 22);
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: normal;
  line-height: 18.9px;
  margin-left: 7px;
  margin-right: 7px;
  text-transform: none;
}

.textTitle {
  font-family: bold;
  cursor: pointer;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: -0.6px;
  line-height: 30px;
  margin-bottom: 0px;
  margin-top: 6px;
  text-align: left;

}

.textMain {
  font-family: ligth;
  font-size: 18px;
  line-height: 27px;
}

.allCards {
  display: grid;
  grid-template-columns: repeat(3, auto);
  background-color: #F3F3F3;
  margin-top: 56px;
  gap: 15px;
}

.flexButton {
  display: flex;
  justify-content: center;
  background-color: #F3F3F3;
}

.buttonCards {
  background: transparent;
  border: 2px solid black;
  padding: 16px 24px;
  font-size: 18px;
  font-family: regular;
  line-height: normal;
  text-decoration: none;
  margin: 40px 0px;
}

.buttonCards:hover {
  transform: scale(1.020);
  transition-duration: 0.7s;
  transition-duration: 0.1s;
  transition-property: opacity;
  transition-timing-function: ease;
}



.svgIMG {
  position: absolute;
  width: 147px;
  height: 147px;
  object-fit: contain;
  z-index: 2;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

}

.svgIMG {
  -webkit-filter: invert(100%);
  filter: invert(100%);
}


.blockSpace {
  z-index: 1;

}


.textUP {
  background-color: #F3F3F3;
  display: flex;
  justify-content: center;
  position: relative;
  padding: 50px 0 0 0;
  margin-top: 50px;
  z-index: 2;
}

.textUP h1 {
  font-family: bold;
}

.textDown {
  background-color: #F3F3F3;
  display: flex;
  justify-content: center;
  position: relative;
  padding: 25px 0 40px 0;

  z-index: 2;

}

.textDown h1 {
  font-family: bold;
}


body,
html {
  background-color: #F3F3F3;
}


.cardContainer {
  cursor: pointer;
}

.cardContainer:hover>.svgIMG {
  transform: translateY(-55px);
  transition: all .4s ease-in-out;
}

/*.cardContainer:hover>.imgCards {
   filter: grayscale(100%) brightness(40%) sepia(100%) hue-rotate(-50deg) saturate(600%) contrast(0.8); */

/* z-index: 4;
  background-image: linear-gradient(45deg, darken(#13abdb, 5%), #B10DC9); */



.cardContainer:hover::before {
  content: 'Sito Ufficiale';
  position: absolute;
  top: 0;
  right: 25%;
  left: 25%;
  color: white;
  position: absolute;
  width: 147px;
  height: 147px;
  z-index: 2;
  margin: 0 auto;
  top: 50%;
  text-align: center;
  font-family: regular;
  z-index: 10;

}

.svgIMG {
  max-width: 130px;
}



.cardContainer:hover::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 367px;
  width: 367px;
  background: rgb(18, 30, 74);
  background: linear-gradient(127deg, rgba(18, 30, 74, 1) 0%, rgba(134, 53, 59, 1) 50%, rgba(200, 64, 72, 1) 100%);
  opacity: 90%;
}
