<div class="blockSpace">


  <div class="blockCards">
    <div class="allCards">
      <div class="cardContainer" *ngFor="let element of cardsSquare;">

        <img class="svgIMG" [src]="element.imgLogo" alt="svg log">


        <img class="imgCards" [src]="element.imgUrl" alt="immagine cards">

        <p style="display: none;">{{element.id}}</p>
        <div class="textFlex">
        </div>
      </div>
    </div>
  </div>
  <div class="flexButton">
    <input type="button" value="Ultimi giochi" class="buttonCards">
  </div>
</div>
