<div class="naving">
  <div class="wrap00">
    <div class="flex">
      <img src="/assets/vertical-drawer-img/user.png" alt="usericom" (click)="is()">
      <img src="/assets/vertical-drawer-img/question.png" alt="questionincon" (click)="two()">
      <img src="/assets/vertical-drawer-img/ealogo.png" alt="ealogo" routerLink="/it-it">
    </div>
  </div>
</div>

<div class="inv userFlex" [class.adding]='toggleClass'>
  <div class="close">
    <span (click)="close()">X</span>
  </div>
  <div class="userCont">
    <div class="log">
      <img src="/assets/vertical-drawer-img/log.png" alt="">
      <h1> Accedi </h1>
    </div>
    <div class="reg">
      <img src="/assets/vertical-drawer-img/reg.png" alt="">
      <h1>Crea account </h1>
    </div>
  </div>

</div>


<div class="inv2 " [class.wrap02]='secondClass'>
  <div class="close">
    <span (click)="close()">X</span>
  </div>
  <div class="selfAlign">
    <h1>
      Ti serve aiuto?
    </h1>
  </div>
  <div class="imgWrap">
    <div class="c1">
      <img src="/assets/vertical-drawer-img/origin.png" alt="">
      <h1>Verifica dati di accesso a Origin</h1>
      <img src="/assets/vertical-drawer-img/link.png" alt="">
      <h1>Come riscattare un codice</h1>
    </div>
  </div>

  <div class="imgWrap2">
    <div class="c1">
      <img src="/assets/vertical-drawer-img/origin.png" alt="">
      <h1>Collega Origin al mio ID PSN</h1>
      <img src="/assets/vertical-drawer-img/link.png" alt="">
      <h1>Non riesco a giocare online</h1>
    </div>
  </div>
  <div class="textWrap">
    <h1>
      Non hai trovato ciò che cerchi? Vai su <span>Aiuto EA, Answers HQ</span> oder die <span>Forum EA</span>
    </h1>
  </div>

</div>
