<div class="d-flex my-3 px-2 setOver">

  <div class="dropdown px-2">
    <a class="fs-3 link" href="">Electronic Arts</a>
  </div>

  <div class="dropdown px-2">
    <button class="btn  dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown"
      aria-expanded="false">
      Games
    </button>
    <ul class="dropdown-menu " aria-labelledby="dropdownMenuButton1">
      <li><a class="dropdown-item fs-3" href="#">Browse Games</a></li>
      <li><a class="dropdown-item" href="#">Latest Games</a></li>
      <li><a class="dropdown-item" href="#">Coming Soon</a></li>
      <li><a class="dropdown-item" href="#">EA Sports</a></li>
      <li><a class="dropdown-item" href="#">Free-To-Play</a></li>
      <li><a class="dropdown-item" href="#">Games Library</a></li>
    </ul>
  </div>


  <div class="dropdown px-2">
    <button class="btn  dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown"
      aria-expanded="false">
      More Experiences
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
      <li><a class="dropdown-item" href="#">EA Play</a></li>
      <li><a class="dropdown-item" href="#">Origin</a></li>
      <li><a class="dropdown-item" href="#">Competitive Gaming</a></li>
      <li><a class="dropdown-item" href="#">EA Play Live</a></li>
    </ul>
  </div>


  <div class="dropdown px-2">
    <button class="btn  dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown"
      aria-expanded="false">
      About
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
      <li><a class="dropdown-item" href="#">Company</a></li>
      <li><a class="dropdown-item" href="#">EA Studios</a></li>
      <li><a class="dropdown-item" href="#">Award Technology</a></li>
      <li><a class="dropdown-item" href="#">SEA Partners</a></li>
      <li><a class="dropdown-item" href="#">News</a></li>
      <li><a class="dropdown-item" href="#">Inside EA</a></li>
    </ul>
  </div>


  <div class="dropdown px-2">
    <button class="btn  dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown"
      aria-expanded="false">
      Commitments
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
      <li><a class="dropdown-item" href="#">Positive Play</a></li>
      <li><a class="dropdown-item" href="#">Inclusion and Diversity</a></li>
      <li><a class="dropdown-item" href="#">Community Outreach</a></li>
      <li><a class="dropdown-item" href="#">People and Culture</a></li>
      <li><a class="dropdown-item" href="#">Environment</a></li>
    </ul>
  </div>

  <div class="dropdown px-2">
    <button class="btn  dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown"
      aria-expanded="false">
      Resources
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
      <li><a class="dropdown-item" href="#">Help</a></li>
      <li><a class="dropdown-item" href="#">Forums</a></li>
      <li><a class="dropdown-item" href="#">Careers</a></li>
      <li><a class="dropdown-item" href="#">Parental Controls</a></li>
      <li><a class="dropdown-item" href="#">Accessibility</a></li>
      <li><a class="dropdown-item" href="#">Press</a></li>
      <li><a class="dropdown-item" href="#">Investors</a></li>
      <li><a class="dropdown-item" href="#">Playtesting</a></li>
    </ul>
  </div>

</div>
