<div class="container">
    <div class=titolo>Non limitarti al gioco. Gioca al massimo. Sblocca <br> ricompense esclusive, contenuti per i soli membri e una <br> libreria dei  migliori titoli.</div>
    <img src="assets/card-bottom/hero-bottom.jpg" alt="">
    <div class="immagine"> 
        <img src="assets/card-bottom/card-bottom2.svg" alt="">
    </div>
    <button class="btn">Iscriviti subito</button>
    <div class="container2">
        <h1>Genitori: il controllo dei videogiochi è nelle vostre mani.</h1>
        <button class="btn2">Scopri di più</button>
    </div> 
</div>

