<div class="wrap">
    <div class="wrap-logo"><img src="./assets/ealogo.png" alt="" class="logo-ea"></div>
    <div class="first-field"><p (mouseover)="isOpen1()">Games</p></div>
         <div class="first-list" *ngIf="isHover1" [ngClass]="animation1" >
               <div class="col1">
  
                <p><strong>Browser Games</strong></p>
                
                <a href="">Latest Games</a>
                <a href="">Coming soon</a>
                <a href="">EA SPORTS</a>
                <a href="">Free-to-play</a>
                <a href="">Games Library</a>
               </div>
  
              <div class="col2">
                <p class="el col-el1"><strong>Platforms</strong></p>
                <a href="" class="el col-el2">PC</a>
                <a href="" class="el col-el3">PlayStation 5</a>
                <a href="" class="el col-el4">Xbox Series X</a>
                <a href="" class="el col-el5">Nintendo Switch</a>
                <a href="" class="el col-el6">Mobile</a>
  
              </div>
  
  
  
         </div>
    
    <div class="second-field" ><p (mouseover)="isOpen2()">More Experiences</p></div>
    <div class="second-list" *ngIf="isHover2" [ngClass]="animation1">
      <a href="">EA Play
      </a>
      <a href="">Origin
      </a>
      <a href="">Competitive Gaming
      </a>
      <a href="">EA Play Live</a>
  
    </div>
  
    <div class="third-field" ><p (mouseover)="isOpen3()">About</p></div>
    <div class="third-list" *ngIf="isHover3" [ngClass]="animation1">
      
      <a href="">Company</a>
      <a href="">EA Studios
      </a>
      <a href="">Careers
  
      </a>
      <a href="">Our Technology
      </a>
       
      <a href="">EA Partners
  
      </a>
       
      <a href="">News
      </a>
       
      <a href="">Inside EA
      </a>
  
    </div>
  
    <div class="fourth-field" ><p (mouseover)="isOpen4()">Commitments</p></div>
    <div class="fourth-list" *ngIf="isHover4" [ngClass]="animation1">
      
      <a href="">Positive Play
      </a>
      <a href="">Inclusion & Diversity
  
      </a>
      <a href="">Community Investment
  
  
      </a>
      <a href="">People & Culture
  
      </a>
       
      <a href="">Environment
  
  
      </a>
       
  
    </div>
  
    <div class="final-field" ><p (mouseover)="isOpen5()">Resources</p></div>
    <div class="final-list" *ngIf="isHover5" [ngClass]="animation1">
      
      <a href="">Help
      </a>
      <a href="">Forums
  
  
      </a>
      <a href="">Parental Controls
  
  
  
      </a>
      <a href="">Accessibility
  
  
      </a>
       
      <a href="">Press
  
  
      </a>
      <a href="">Investors
  
  
  
      </a>
      <a href="">Playtesting
  
  
      </a>
       
  
    </div>
  </div>
  
  
  
  
  
  

  