<div class="blockCards" >
    <div class="allCards" >
      <div class="cardContainer" *ngFor="let card of data"  >
        <img class="imgCards" src="{{card.imgUrl}}" alt="immagine cards">
        <div class="textFlex">
          <h1 class="textEa"> <span class="textDate">{{card.textEa}}</span></h1>
          <h2 class="textTitle">{{card.textTitle}}</h2>
          <h2 class="textMain">{{card.textMain}}</h2>
        </div>
      </div>
    </div>
  </div>
  <div class="flexButton">
    <input type="button" value="Più dettagli" class="buttonCards">
  </div>

